@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 1.2em;
    padding: 0 0.5em;
}
.btn input{
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
.btn input::before,
.btn input::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50px;
}
.btn input:checked::before{
    background: #ca4444;
    transform: translate(-50%,-50%);
}
.btn input::after{
    width: 10px;
    height: 10px;
    background: none;
    border: 2px solid black;
    border-radius: 50px;
    transform: translate(-80%, -50%);
    transition: all .4s;
}
.btn input:checked::after{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    transform: translate(-15%, -50%);
    z-index: 10;
}
.btn label{
    margin-left: 0.5em;
    cursor: pointer;
}