@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    width: 120px;
    height: 40px;
    font-size: 1.1em;
    background: none;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
}
.btn::before,.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000000;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: -2;
}
.btn::after{
    width: 110%;
    height: 90%;
    top: 25%;
    left: -5%;
    background: #2C2891;
    z-index: -3;
    transform: scaleX(0.5);
    transition: all .6s;
}
.btn:hover::after{
    transform: scaleX(1.01) translateY(-15px);
}